.ss-site-icon{
    width: 100px;
    height: auto;
}

.ss-align-left{
   text-align: left;
}

.ss-form-actions{
   margin-top: 20px;
}

.ss-pagination-links{
   margin-top: 20px;
}

.ss-font-sm{
   font-size: 14px;
}

.ss-font-xs{
   font-size: 12px;
}

.ss-font-xxs{
   font-size: 10px;
}

.ss-no-margin{
   margin: 0px;
}

.ss-no-padding{
   padding: 0px;
}

.ss-color-danger{
   color: #dc3545;
}

.ss-color-info{
   color: #17a2b8;
}

.ss-right{
   float: right;
}

.ss-left{
  float: left;
}

.ss-bold{
   font-weight: bold;
}

.ss-italic{
   font-style: italic;
}